
section.only-image.present > p {
    display: flex;
    text-align: center;
}

section.only-image.present > p > img {
    height: 40vh;
}

.slide-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    border: unset !important;
	background-color: transparent !important;
}

.no-border-image {
    border: unset !important;
    background-color: transparent !important;
}